# pycache
__pycache__/

# migrations
migrations/

# venv
venv/

# settings.py
#settings.py Settings dosyasını düzenledik ve gizli bilgileri .env dosyasına taşıdık. ve ldap entegrasyonu eklendi.

# set_env.sh
set_env.sh

# vscode
.vscode/

# nohup
nohup.out

policy_old/
pmys/.env
